.screen{
    height: 25%;
    color: white;
    margin:auto 1.5rem 0 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.input-value{
    font-size: 3rem;
    
}